In [1]:
import pandas as pd
import numpy as np

# 1. Import et découverte des fichiers

## 1.1 Disponibilité alimentaire

Fichier donné dans le projet

In [2]:
dispo_alim = pd.read_csv('DisponibiliteAlimentaire_2017.csv')
dispo_alim.head(2)

,Code Domaine,Domaine,Code zone,Zone,Code Élément,Élément,Code Produit,Produit,Code année,Année,Unité,Valeur,Symbole,Description du Symbole
0,FBS,Nouveaux Bilans Alimentaire,2,Afghanistan,5511,Production,2511,Blé et produits,2017,2017,Milliers de tonnes,4281.0,S,Données standardisées
1,FBS,Nouveaux Bilans Alimentaire,2,Afghanistan,5611,Importations - Quantité,2511,Blé et produits,2017,2017,Milliers de tonnes,2302.0,S,Données standardisées

In [3]:
dispo_alim.shape

(176600, 14)

In [4]:
dispo_alim.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 176600 entries, 0 to 176599
Data columns (total 14 columns):
 #   Column                  Non-Null Count   Dtype
---  ------                  --------------   -----
 0   Code Domaine            176600 non-null  object
 1   Domaine                 176600 non-null  object
 2   Code zone               176600 non-null  int64
 3   Zone                    176600 non-null  object
 4   Code Élément            176600 non-null  int64
 5   Élément                 176600 non-null  object
 6   Code Produit            176600 non-null  int64
 7   Produit                 176600 non-null  object
 8   Code année              176600 non-null  int64
 9   Année                   176600 non-null  int64
 10  Unité                   176600 non-null  object
 11  Valeur                  176600 non-null  float64
 12  Symbole                 176600 non-null  object
 13  Description du Symbole  176600 non-null  object
dtypes: float64(1), int64(5), object(8)
memory usage: 18.9+ MB

In [5]:
dispo_alim.Unité.unique()

array(['Milliers de tonnes', 'kg', 'Kcal/personne/jour',
       'g/personne/jour'], dtype=object)

In [6]:
dispo_alim.Produit.nunique()

98

In [7]:
# Il y a 174 pays différents dans ce fichier

dispo_alim.Zone.nunique()

174

In [8]:
# On ne garde que la viande de volaille

dispo_alim = dispo_alim.loc[(dispo_alim['Produit'] == 'Viande de Volailles')]
dispo_alim.head()

,Code Domaine,Domaine,Code zone,Zone,Code Élément,Élément,Code Produit,Produit,Code année,Année,Unité,Valeur,Symbole,Description du Symbole
651,FBS,Nouveaux Bilans Alimentaire,2,Afghanistan,5511,Production,2734,Viande de Volailles,2017,2017,Milliers de tonnes,28.0,S,Données standardisées
652,FBS,Nouveaux Bilans Alimentaire,2,Afghanistan,5611,Importations - Quantité,2734,Viande de Volailles,2017,2017,Milliers de tonnes,29.0,S,Données standardisées
653,FBS,Nouveaux Bilans Alimentaire,2,Afghanistan,5072,Variation de stock,2734,Viande de Volailles,2017,2017,Milliers de tonnes,0.0,S,Données standardisées
654,FBS,Nouveaux Bilans Alimentaire,2,Afghanistan,5301,Disponibilité intérieure,2734,Viande de Volailles,2017,2017,Milliers de tonnes,57.0,S,Données standardisées
655,FBS,Nouveaux Bilans Alimentaire,2,Afghanistan,5123,Pertes,2734,Viande de Volailles,2017,2017,Milliers de tonnes,2.0,S,Données standardisées

In [9]:
dispo_alim.Élément.unique()

array(['Production', 'Importations - Quantité', 'Variation de stock',
       'Disponibilité intérieure', 'Pertes', 'Résidus', 'Nourriture',
       'Disponibilité alimentaire en quantité (kg/personne/an)',
       'Disponibilité alimentaire (Kcal/personne/jour)',
       'Disponibilité de protéines en quantité (g/personne/jour)',
       'Disponibilité de matière grasse en quantité (g/personne/jour)',
       'Exportations - Quantité', 'Alimentation pour touristes',
       'Traitement', 'Autres utilisations (non alimentaire)',
       'Aliments pour animaux', 'Semences'], dtype=object)

In [10]:
# Colonnes que l'on souhaite garder:
cols_to_keep = ['Zone', 'Élément', 'Produit', 'Valeur']

In [11]:
dispo_alim = dispo_alim[cols_to_keep]

In [12]:
# On pivote la colonne "Elément"

pivot_table_1 = pd.pivot_table(dispo_alim, values= 'Valeur', index=['Zone'], columns='Élément')

In [13]:
pivot_table_1.head(2)

Élément,Alimentation pour touristes,Aliments pour animaux,Autres utilisations (non alimentaire),Disponibilité alimentaire (Kcal/personne/jour),Disponibilité alimentaire en quantité (kg/personne/an),Disponibilité de matière grasse en quantité (g/personne/jour),Disponibilité de protéines en quantité (g/personne/jour),Disponibilité intérieure,Exportations - Quantité,Importations - Quantité,Nourriture,Pertes,Production,Résidus,Semences,Traitement,Variation de stock
Zone,,,,,,,,,,,,,,,,,
Afghanistan,NaN,NaN,NaN,5.0,1.53,0.33,0.54,57.0,NaN,29.0,55.0,2.0,28.0,0.0,NaN,NaN,0.0
Afrique du Sud,0.0,NaN,NaN,143.0,35.69,9.25,14.11,2118.0,63.0,514.0,2035.0,83.0,1667.0,0.0,NaN,NaN,0.0

In [14]:
df_1 = pivot_table_1.reset_index()
df_1.head(2)

Élément,Zone,Alimentation pour touristes,Aliments pour animaux,Autres utilisations (non alimentaire),Disponibilité alimentaire (Kcal/personne/jour),Disponibilité alimentaire en quantité (kg/personne/an),Disponibilité de matière grasse en quantité (g/personne/jour),Disponibilité de protéines en quantité (g/personne/jour),Disponibilité intérieure,Exportations - Quantité,Importations - Quantité,Nourriture,Pertes,Production,Résidus,Semences,Traitement,Variation de stock
0,Afghanistan,NaN,NaN,NaN,5.0,1.53,0.33,0.54,57.0,NaN,29.0,55.0,2.0,28.0,0.0,NaN,NaN,0.0
1,Afrique du Sud,0.0,NaN,NaN,143.0,35.69,9.25,14.11,2118.0,63.0,514.0,2035.0,83.0,1667.0,0.0,NaN,NaN,0.0

## 1.2 Population

Fichier donné dans le projet

In [15]:
population = pd.read_csv('Population_2000_2018.csv')
population.head(2)

,Code Domaine,Domaine,Code zone,Zone,Code Élément,Élément,Code Produit,Produit,Code année,Année,Unité,Valeur,Symbole,Description du Symbole,Note
0,OA,Séries temporelles annuelles,2,Afghanistan,511,Population totale,3010,Population-Estimations,2000,2000,1000 personnes,20779.953,X,Sources internationales sûres,NaN
1,OA,Séries temporelles annuelles,2,Afghanistan,511,Population totale,3010,Population-Estimations,2001,2001,1000 personnes,21606.988,X,Sources internationales sûres,NaN

In [16]:
population.shape

(4411, 15)

In [17]:
population.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4411 entries, 0 to 4410
Data columns (total 15 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Code Domaine            4411 non-null   object
 1   Domaine                 4411 non-null   object
 2   Code zone               4411 non-null   int64
 3   Zone                    4411 non-null   object
 4   Code Élément            4411 non-null   int64
 5   Élément                 4411 non-null   object
 6   Code Produit            4411 non-null   int64
 7   Produit                 4411 non-null   object
 8   Code année              4411 non-null   int64
 9   Année                   4411 non-null   int64
 10  Unité                   4411 non-null   object
 11  Valeur                  4411 non-null   float64
 12  Symbole                 4411 non-null   object
 13  Description du Symbole  4411 non-null   object
 14  Note                    258 non-null    object
dtypes: float64(1), int64(5), object(9)
memory usage: 517.0+ KB

In [18]:
# Il y a 238 pays différents dans ce fichier

population.Zone.nunique()

238

In [19]:
population.Année.unique()

array([2000, 2001, 2002, 2003, 2004, 2005, 2006, 2007, 2008, 2009, 2010,
       2011, 2012, 2013, 2014, 2015, 2016, 2017, 2018], dtype=int64)

In [20]:
# On garde les infos les plus récentes pour coller au plus proche de la vérité

population = population.loc[population['Année'] == 2018, :]

In [21]:
population.isnull().sum()

Code Domaine                0
Domaine                     0
Code zone                   0
Zone                        0
Code Élément                0
Élément                     0
Code Produit                0
Produit                     0
Code année                  0
Année                       0
Unité                       0
Valeur                      0
Symbole                     0
Description du Symbole      0
Note                      234
dtype: int64

In [22]:
# Le fichier est exprimé en milliers d'habitants, pour faciliter la lecture on multiplie la valeur par mille

population['Valeur'] = (population['Valeur'] * 1000)

In [23]:
population.rename(columns={'Valeur':'Population'}, inplace=True)

In [24]:
# Sélection des colonnes à garder 

cols_to_keep_1 = ['Zone','Population']

In [25]:
population = population[cols_to_keep_1]

In [26]:
population.head(2)

              Zone  Population
18     Afghanistan  37171921.0
37  Afrique du Sud  57792518.0

## 1.3 PIB par habitant

Fichier récupéré sur le site de la FAO

In [27]:
pib = pd.read_csv('pib_par_habitant.csv')
pib.head()

,Code Domaine,Domaine,Code zone (M49),Zone,Code Élément,Élément,Code Produit,Produit,Code année,Année,Unité,Valeur,Symbole,Description du Symbole,Note
0,MK,Indicateurs macro,4,Afghanistan,6119,Valeur US $ par habitant,22008,Produit Intérieur Brut,2022,2022,US$,361.601822,E,Valeur estimée,NaN
1,MK,Indicateurs macro,710,Afrique du Sud,6119,Valeur US $ par habitant,22008,Produit Intérieur Brut,2022,2022,US$,6762.683187,E,Valeur estimée,NaN
2,MK,Indicateurs macro,8,Albanie,6119,Valeur US $ par habitant,22008,Produit Intérieur Brut,2022,2022,US$,6408.389337,E,Valeur estimée,NaN
3,MK,Indicateurs macro,12,Algérie,6119,Valeur US $ par habitant,22008,Produit Intérieur Brut,2022,2022,US$,4265.949210,E,Valeur estimée,NaN
4,MK,Indicateurs macro,276,Allemagne,6119,Valeur US $ par habitant,22008,Produit Intérieur Brut,2022,2022,US$,48107.866666,E,Valeur estimée,NaN

In [28]:
pib.shape

(211, 15)

In [29]:
pib.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 211 entries, 0 to 210
Data columns (total 15 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Code Domaine            211 non-null    object
 1   Domaine                 211 non-null    object
 2   Code zone (M49)         211 non-null    int64
 3   Zone                    211 non-null    object
 4   Code Élément            211 non-null    int64
 5   Élément                 211 non-null    object
 6   Code Produit            211 non-null    int64
 7   Produit                 211 non-null    object
 8   Code année              211 non-null    int64
 9   Année                   211 non-null    int64
 10  Unité                   211 non-null    object
 11  Valeur                  211 non-null    float64
 12  Symbole                 211 non-null    object
 13  Description du Symbole  211 non-null    object
 14  Note                    0 non-null      float64
dtypes: float64(2), int64(5), object(8)
memory usage: 24.9+ KB

In [30]:
# Il y a 211 pays différents dans ce fichier:

pib.Zone.nunique()

211

In [31]:
# Lors du téléchargement nous avons retenu la dernière année pour laquelle il y avait les infos,
    #pour coller au plus près de la réalité

pib.Année.unique()

array([2022], dtype=int64)

In [32]:
pib.rename(columns={'Valeur':'PIB (par hab, en US$)'}, inplace=True)

In [33]:
# Sélection des colonnes à garder

cols_to_keep_2 = ['Zone','PIB (par hab, en US$)']

In [34]:
pib = pib[cols_to_keep_2]

In [35]:
pib.head(2)

             Zone  PIB (par hab, en US$)
0     Afghanistan             361.601822
1  Afrique du Sud            6762.683187

In [36]:
# Nous avons ajouté cette ligne de code après avoir observé plus bas que le pays "pays-bas" n'était pas harmonsié entre tous
    #les fichiers.
pib['Zone'] = pib['Zone'].replace('Pays-Bas (Royaume des)','Pays-Bas')

## 1.4 Stabilité politique

Fichier récupéré sur le site de la FAO

In [37]:
politique = pd.read_csv('stabilité_politique.csv')
politique.head(2)

,Code Domaine,Domaine,Code zone (M49),Zone,Code Élément,Élément,Code Produit,Produit,Code année,Année,Unité,Valeur,Symbole,Description du Symbole,Note
0,FS,Données de la sécurité alimentaire,4,Afghanistan,6125,Valeur,21032,Stabilité politique et absence de violence/ter...,2017,2017,indice,-2.80,X,Ciffre de sources internationales,NaN
1,FS,Données de la sécurité alimentaire,4,Afghanistan,6125,Valeur,21032,Stabilité politique et absence de violence/ter...,2018,2018,indice,-2.76,X,Ciffre de sources internationales,NaN

In [38]:
politique.shape

(794, 15)

In [39]:
politique.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 794 entries, 0 to 793
Data columns (total 15 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Code Domaine            794 non-null    object
 1   Domaine                 794 non-null    object
 2   Code zone (M49)         794 non-null    int64
 3   Zone                    794 non-null    object
 4   Code Élément            794 non-null    int64
 5   Élément                 794 non-null    object
 6   Code Produit            794 non-null    int64
 7   Produit                 794 non-null    object
 8   Code année              794 non-null    int64
 9   Année                   794 non-null    int64
 10  Unité                   794 non-null    object
 11  Valeur                  794 non-null    float64
 12  Symbole                 794 non-null    object
 13  Description du Symbole  794 non-null    object
 14  Note                    0 non-null      float64
dtypes: float64(2), int64(5), object(8)
memory usage: 93.2+ KB

In [40]:
# Il y a 199 pays différents dans ce fichier
politique.Zone.nunique()

199

In [41]:
politique.Année.unique()

array([2017, 2018, 2019, 2020], dtype=int64)

In [42]:
# Comme pour les autres fichiers nous décidons de garder l'année la plus récente pour laquelle nous avons les informations

politique = politique.loc[politique['Année'] == 2020, :]

In [43]:
politique.rename(columns={'Valeur':'Indice stabilité politique'}, inplace=True)

In [44]:
# Sélection des colonnes à garder

cols_to_keep_3 = ['Zone','Indice stabilité politique']

In [45]:
politique = politique[cols_to_keep_3]

In [46]:
politique.head(2)

             Zone  Indice stabilité politique
3     Afghanistan                       -2.73
7  Afrique du Sud                       -0.24

In [47]:
# Nous avons ajouté cette ligne de code après avoir observé plus bas que le pays "pays-bas" n'était pas harmonsié entre tous
    #les fichiers.

politique['Zone'] = politique['Zone'].replace('Pays-Bas (Royaume des)','Pays-Bas')

## 1.5 Taxes douanières

Données récupérées sur le site de la banque mondiale

In [48]:
douanes = pd.read_excel('taxes douanes 2.xls')
douanes.head(2)

,Country Name,Country Code,Indicator Name,"Taux des droits de douane, appliqués, moyenne pondérée, tous produits (%)"
0,Aruba,ABW,"Taux des droits de douane, appliqués, moyenne ...",12.12
1,Afghanistan,AFG,"Taux des droits de douane, appliqués, moyenne ...",5.63

In [49]:
douanes.shape

(204, 4)

In [50]:
douanes.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 204 entries, 0 to 203
Data columns (total 4 columns):
 #   Column                                                                     Non-Null Count  Dtype
---  ------                                                                     --------------  -----
 0   Country Name                                                               204 non-null    object
 1   Country Code                                                               204 non-null    object
 2   Indicator Name                                                             204 non-null    object
 3   Taux des droits de douane, appliqués, moyenne pondérée, tous produits (%)  203 non-null    float64
dtypes: float64(1), object(3)
memory usage: 6.5+ KB

In [51]:
# Il y a 204 pays différents dans ce fichier
douanes['Country Name'].nunique()

204

In [52]:
douanes.rename(columns={'Country Name':'Zone'}, inplace=True)

In [53]:
douanes.rename(columns={'Taux des droits de douane, appliqués, moyenne pondérée, tous produits (%)':'Taux droits douane'}, inplace=True)

In [54]:
# Sélection des colonnes à garder
cols_to_keep_4 = ['Zone','Taux droits douane']

In [55]:
douanes = douanes[cols_to_keep_4]

In [56]:
# Nous avons ajouté cette ligne de code après avoir observé plus bas que plusieurs pays n'étaient pas harmonsiés entre tous
    #ce fichier et les autres.

douanes.replace({'Zone' : { 'Tanzanie' : 'République-Unie de Tanzanie', 
                           'Chine' : 'Chine, continentale', 
                           'Yémen, Rép. du' : 'Yémen', 
                           'Venezuela' : 'Venezuela (République bolivarienne du)', 
                           'République tchèque' : 'Tchéquie', 
                           'Royaume-Uni' : "Royaume-Uni de Grande-Bretagne et d'Irlande du Nord", 
                           'Corée, République de' : 'République de Corée',
                           'Chine, RAS de Hong Kong' : 'Chine - RAS de Hong-Kong', 
                           'Bolivie': 'Bolivie (État plurinational de)', 
                           'Égypte, République arabe d’' : 'Égypte', 
                           "Iran, République islamique d’" : "Iran (République islamique d')",
                          'États-Unis' : "États-Unis d'Amérique", 
                           'Congo, République démocratique du' : 'Congo', 
                           'République kirghize' : 'Kirghizistan', 
                           'République slovaque' : 'Slovaquie' }} , inplace = True)

In [57]:
douanes.head(2)

          Zone  Taux droits douane
0        Aruba               12.12
1  Afghanistan                5.63

# 2. Jointures

## 2.1 : merge_1 = population + disponibilité alimentaire (df_1)

In [58]:
merge_1 = pd.merge (population, df_1, on = 'Zone', how='outer', indicator = True)

In [59]:
# On a vu plus haut que le fichier population a plus de pays (238) que le fichier disponibilité alimentaire (174)
# En résultat de cette jointure on devrait donc retrouver des "both" et des "left only"

merge_1._merge.unique()

['both', 'left_only']
Categories (3, object): ['left_only', 'right_only', 'both']

In [60]:
leftonly = merge_1.loc[merge_1['_merge'] == 'left_only', :]

In [61]:
# On a bien 64 pays de différence entre les deux fichiers

leftonly.Zone.nunique()

64

In [62]:
#On affiche les pays n'ayant pas de correspondance dans le fichier disponibilité alimentaire:
leftonly.Zone.unique()

#Ce sont principalement des iles qui sont souvent indexées à un autre pays = on décide de ne pas les conserver.

array(['Andorre', 'Anguilla', 'Antilles néerlandaises (ex)', 'Aruba',
       'Bahreïn', 'Bermudes', 'Bhoutan',
       'Bonaire, Saint-Eustache et Saba', 'Brunéi Darussalam', 'Burundi',
       'Comores', 'Curaçao', 'Érythrée', 'Gibraltar', 'Groenland',
       'Guadeloupe', 'Guam', 'Guinée équatoriale', 'Guyane française',
       'Île de Man', 'Îles Anglo-Normandes', 'Îles Caïmanes', 'Îles Cook',
       'Îles Falkland (Malvinas)', 'Îles Féroé', 'Îles Mariannes du Nord',
       'Îles Marshall', 'Îles Turques-et-Caïques',
       'Îles Vierges américaines', 'Îles Vierges britanniques',
       'Îles Wallis-et-Futuna', 'Libye', 'Liechtenstein', 'Martinique',
       'Mayotte', 'Micronésie (États fédérés de)', 'Monaco', 'Montserrat',
       'Nauru', 'Nioué', 'Palaos', 'Palestine',
       'Papouasie-Nouvelle-Guinée', 'Porto Rico', 'Qatar',
       'République arabe syrienne', 'République démocratique du Congo',
       'Réunion', 'Sahara occidental', 'Saint-Barthélemy',
       'Sainte-Hélène, Ascension et Tristan da Cunha', 'Saint-Marin',
       'Saint-Martin (partie française)', 'Saint-Pierre-et-Miquelon',
       'Saint-Siège', 'Samoa américaines', 'Seychelles', 'Singapour',
       'Sint Maarten  (partie néerlandaise)', 'Somalie', 'Soudan du Sud',
       'Tokélaou', 'Tonga', 'Tuvalu'], dtype=object)

In [63]:
# On ne retient que les pays qui ont une correspondance entre les deux fichiers:

merge_1 = merge_1.loc[merge_1['_merge'] == 'both']

In [64]:
merge_1.drop('_merge', axis=1, inplace=True)

## 2.2 : merge_2 = pib + merge_1

In [65]:
merge_2 = pd.merge (pib, merge_1, on = 'Zone', how='outer', indicator = True)

In [66]:
merge_2._merge.unique()

['both', 'left_only', 'right_only']
Categories (3, object): ['left_only', 'right_only', 'both']

In [67]:
# Sélection des pays n'ayant que le PIB qui ressort mais pas de correspondance avec le fichier principal "merge_1":

merge_2.loc[merge_2['_merge'] == 'left_only', :]

# Ce sont également principalement des iles et territoires annexés à un autre pays "principal", on ne les retient donc pas.

,Zone,"PIB (par hab, en US$)",Population,Alimentation pour touristes,Aliments pour animaux,Autres utilisations (non alimentaire),Disponibilité alimentaire (Kcal/personne/jour),Disponibilité alimentaire en quantité (kg/personne/an),Disponibilité de matière grasse en quantité (g/personne/jour),Disponibilité de protéines en quantité (g/personne/jour),...,Exportations - Quantité,Importations - Quantité,Nourriture,Pertes,Production,Résidus,Semences,Traitement,Variation de stock,_merge
5,Andorre,41156.231046,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
7,Anguilla,19281.895415,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
12,Aruba,32875.582141,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
17,Bahreïn,29577.663841,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
24,Bermudes,116262.600181,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
25,Bhoutan,3254.569971,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
30,Brunéi Darussalam,40951.027746,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
33,Burundi,288.539324,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
39,Chine,12810.028018,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
45,Comores,1476.114596,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
51,Curaçao,14087.060948,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
59,Érythrée,643.087310,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
75,Groenland,54373.424999,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
78,Guinée équatoriale,9398.988207,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
84,Îles Caïmanes,88699.366489,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
85,Îles Cook,17874.855229,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
86,Îles Marshall,6519.281195,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
88,Îles Turques-et-Caïques,21432.055145,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
89,Îles Vierges britanniques,51785.564447,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
110,Libye,5962.872735,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
111,Liechtenstein,163288.648816,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
125,Micronésie (États fédérés de),3748.992677,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
126,Monaco,219959.272341,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
129,Montserrat,16756.750809,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
133,Nauru,10129.767596,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
145,Palaos,12517.308225,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
146,Palestine,12106.881582,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
148,Papouasie-Nouvelle-Guinée,3040.589265,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
155,Porto Rico,36488.975703,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
157,Qatar,82136.998177,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
158,République arabe syrienne,788.852499,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
162,République démocratique du Congo,655.974257,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
172,Saint-Marin,47988.277540,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
178,Seychelles,18618.941009,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
180,Singapour,70584.958839,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
181,Sint Maarten (partie néerlandaise),27000.222728,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
184,Somalie,0.019681,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
186,Soudan du Sud,426.843332,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
197,Tonga,4669.906685,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
202,Tuvalu,5580.046317,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only

In [68]:
# Toutefois on remarque qu'il y a la Chine qui ressort
# Dans le fichier PIB il y a la Chine et la Chine continentale 
# Mais cela semble être les mêmes, on ne concervera donc que la Chine continentale

pib.loc[(pib['Zone'] == 'Chine') | (pib['Zone'] =='Chine, continentale') | (pib['Zone'] =='Chine - RAS de Macao') | (pib['Zone'] =='Chine - RAS de Hong-Kong'), :]

                        Zone  PIB (par hab, en US$)
39                     Chine           12810.028018
40  Chine - RAS de Hong-Kong           48979.493288
41      Chine - RAS de Macao           33530.044263
42       Chine, continentale           12824.617468

In [69]:
# Pour les "right only" on ne trouve pas de correspondance au niveau du PIB, on décide de ne pas concervers Taiwan.

rightonly_1 = merge_2.loc[merge_2['_merge'] == 'right_only', :]
rightonly_1

,Zone,"PIB (par hab, en US$)",Population,Alimentation pour touristes,Aliments pour animaux,Autres utilisations (non alimentaire),Disponibilité alimentaire (Kcal/personne/jour),Disponibilité alimentaire en quantité (kg/personne/an),Disponibilité de matière grasse en quantité (g/personne/jour),Disponibilité de protéines en quantité (g/personne/jour),...,Exportations - Quantité,Importations - Quantité,Nourriture,Pertes,Production,Résidus,Semences,Traitement,Variation de stock,_merge
211,"Chine, Taiwan Province de",NaN,23726460.0,NaN,NaN,0.0,126.0,33.17,8.7,11.01,...,8.0,161.0,785.0,NaN,652.0,0.0,NaN,NaN,20.0,right_only

In [70]:
# On ne concerve que les pays qui trouvent une correspondance entre les deux fichiers

merge_2 = merge_2.loc[merge_2['_merge'] == 'both']

In [71]:
merge_2.drop('_merge', axis=1, inplace=True)

## 2.3 : merge_3 = stabilité politique + merge_2

In [72]:
merge_3 = pd.merge (politique, merge_2, on = 'Zone', how='outer', indicator = True)

In [73]:
merge_3._merge.unique()

['both', 'left_only', 'right_only']
Categories (3, object): ['left_only', 'right_only', 'both']

In [74]:
# Pays qui ne trouvent pas de correspondance dans le fichier stabilité politique
merge_3.loc[merge_3['_merge'] == 'right_only', :]

# Même si on a pas sa stabilité politique on conserve quand même la Chine continentale car il s'agit d'une grande "région"
# On ne conserve pas les iles francaises puisque de toute façon nous recherchons à exporter à l'étranger.

,Zone,Indice stabilité politique,"PIB (par hab, en US$)",Population,Alimentation pour touristes,Aliments pour animaux,Autres utilisations (non alimentaire),Disponibilité alimentaire (Kcal/personne/jour),Disponibilité alimentaire en quantité (kg/personne/an),Disponibilité de matière grasse en quantité (g/personne/jour),...,Exportations - Quantité,Importations - Quantité,Nourriture,Pertes,Production,Résidus,Semences,Traitement,Variation de stock,_merge
199,"Chine, continentale",NaN,12824.617468,1.427648e+09,0.0,NaN,NaN,59.0,12.33,4.67,...,576.0,452.0,17518.0,643.0,18236.0,-1.0,NaN,1.0,-50.0,right_only
200,Nouvelle-Calédonie,NaN,32138.056075,2.799930e+05,0.0,NaN,NaN,136.0,38.71,8.42,...,NaN,9.0,11.0,NaN,1.0,0.0,NaN,NaN,-1.0,right_only
201,Polynésie française,NaN,17894.351105,2.776790e+05,2.0,NaN,0.0,167.0,47.40,10.86,...,0.0,15.0,13.0,NaN,1.0,0.0,NaN,NaN,0.0,right_only

In [75]:
# Pays qui ressortent pour la stabilité politique mais qui n'ont pas de correspondance dans le fichier merge_2:
merge_3.loc[merge_3['_merge'] == 'left_only', :]

# Pour ces pays il nous manque toutes les informations importantes nécessaires à notre étude, il y a trop de données manquantes,
# On décide de ne pas les conserver.

,Zone,Indice stabilité politique,"PIB (par hab, en US$)",Population,Alimentation pour touristes,Aliments pour animaux,Autres utilisations (non alimentaire),Disponibilité alimentaire (Kcal/personne/jour),Disponibilité alimentaire en quantité (kg/personne/an),Disponibilité de matière grasse en quantité (g/personne/jour),...,Exportations - Quantité,Importations - Quantité,Nourriture,Pertes,Production,Résidus,Semences,Traitement,Variation de stock,_merge
5,Andorre,1.62,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
15,Bahreïn,-0.59,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
22,Bermudes,1.01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
23,Bhoutan,1.02,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
28,Brunéi Darussalam,1.12,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
31,Burundi,-1.41,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
39,"Chine, Taiwan Province de",0.77,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
42,Comores,-0.29,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
55,Érythrée,-0.98,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
71,Groenland,1.91,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
74,Guinée équatoriale,-0.19,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
80,Îles Cook,1.11,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
81,Îles Marshall,0.59,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
103,Libye,-2.48,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
117,Micronésie (États fédérés de),1.08,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
123,Nauru,0.94,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
128,Nioué,1.35,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
135,Palaos,0.89,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
136,Palestine,-2.05,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
138,Papouasie-Nouvelle-Guinée,-0.74,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
144,Porto Rico,0.43,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
146,Qatar,0.67,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
147,République arabe syrienne,-2.73,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
151,République démocratique du Congo,-1.71,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
163,Samoa américaines,1.17,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
167,Seychelles,0.72,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
169,Singapour,1.47,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
172,Somalie,-2.52,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
174,Soudan du Sud,-2.17,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
185,Tonga,1.02,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
190,Tuvalu,1.18,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only

In [76]:
# On ne garde que les pays qui ont une correspondance entre les deux fichiers + la Chine continentale

merge_3 = merge_3.loc[(merge_3['_merge'] == 'both')| (merge_3['Zone'] == 'Chine, continentale')]

In [77]:
merge_3.drop('_merge', axis=1, inplace=True)

# 2.4 : merge 4 = douanes + merge_3

In [78]:
merge_4 = pd.merge (douanes, merge_3, on = 'Zone', how='outer', indicator = True)

In [79]:
merge_4._merge.unique()

['left_only', 'both', 'right_only']
Categories (3, object): ['left_only', 'right_only', 'both']

In [80]:
# On affiche les pays qui ne ressortent que dans le fichier douanes et ne trouvent pas de correspondance dans le fichier principal

merge_4.loc[merge_4['_merge'] == 'left_only', :]

# Il s'agit des continents et quelques pays.
# On supprime toutes ces lignes puisque de toute facon il nous manque trop d'informations pour les conserver.

,Zone,Taux droits douane,Indice stabilité politique,"PIB (par hab, en US$)",Population,Alimentation pour touristes,Aliments pour animaux,Autres utilisations (non alimentaire),Disponibilité alimentaire (Kcal/personne/jour),Disponibilité alimentaire en quantité (kg/personne/an),...,Exportations - Quantité,Importations - Quantité,Nourriture,Pertes,Production,Résidus,Semences,Traitement,Variation de stock,_merge
0,Aruba,12.12,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
11,Burundi,11.31,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
17,Bahreïn,2.02,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
22,Bermudes,24.07,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
26,Brunéi Darussalam,0.02,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
27,Bhoutan,6.60,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
37,"Congo, République du",11.55,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
39,Comores,4.58,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
51,Asie de l’Est et Pacifique (hors revenu élevé),3.44,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
52,Asie de l’Est et Pacifique,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
53,Europe et Asie centrale (hors revenu élevé),3.13,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
54,Europe et Asie centrale,2.74,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
57,Érythrée,5.43,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
61,Union européenne,1.48,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
72,Guinée équatoriale,15.63,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
77,Revenu élevé,2.02,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
100,Amérique latine et Caraïbes (hors revenu élevé),3.50,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
104,Libye,4.54,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
106,Amérique latine et Caraïbes,3.52,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
107,Faible revenu,9.79,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
109,Revenu faible et intermédiaire,4.28,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
115,Moldova,1.26,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
118,Afrique du Nord et Moyen-Orient,4.86,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
124,Afrique du Nord et Moyen-Orient (hors revenu é...,6.66,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
139,Nauru,14.39,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
146,Palaos,9.60,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
147,Papouasie-Nouvelle-Guinée,3.63,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
151,Cisjordanie et Gaza,2.18,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
152,Polynésie française,4.83,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
153,Qatar,3.55,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
157,Asie du Sud,5.93,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
161,Singapour,0.05,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
166,Afrique subsaharienne (hors revenu élevé),5.67,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
167,Afrique subsaharienne,5.67,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
174,Seychelles,1.47,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
175,République arabe syrienne,9.21,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
182,Tonga,6.56,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
186,Tuvalu,2.43,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
190,"Revenu intermédiaire, tranche supérieure",3.70,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
198,Monde,2.59,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only

In [81]:
# Pour ces pays là on n'a pas les frais de douanes, on décide tout de même de les conserver

merge_4.loc[merge_4['_merge'] == 'right_only', :]

,Zone,Taux droits douane,Indice stabilité politique,"PIB (par hab, en US$)",Population,Alimentation pour touristes,Aliments pour animaux,Autres utilisations (non alimentaire),Disponibilité alimentaire (Kcal/personne/jour),Disponibilité alimentaire en quantité (kg/personne/an),...,Exportations - Quantité,Importations - Quantité,Nourriture,Pertes,Production,Résidus,Semences,Traitement,Variation de stock,_merge
204,Chine - RAS de Macao,NaN,1.15,33530.044263,631636.0,-3.0,NaN,0.0,142.0,34.47,...,0.0,23.0,21.0,0.0,3.0,0.0,NaN,NaN,8.0,right_only
205,Iraq,NaN,-2.53,6355.560152,38433600.0,0.0,NaN,NaN,52.0,14.95,...,0.0,470.0,561.0,5.0,96.0,0.0,NaN,NaN,0.0,right_only
206,Kiribati,NaN,1.08,1543.401478,115847.0,0.0,NaN,NaN,63.0,17.98,...,NaN,1.0,2.0,NaN,1.0,0.0,NaN,NaN,0.0,right_only
207,République de Moldova,NaN,-0.42,4497.155765,4051944.0,NaN,NaN,NaN,55.0,16.14,...,0.0,16.0,66.0,NaN,54.0,0.0,NaN,0.0,5.0,right_only
208,République populaire démocratique de Corée,NaN,-0.40,654.510035,25549604.0,NaN,NaN,NaN,8.0,1.62,...,0.0,0.0,41.0,1.0,43.0,0.0,NaN,NaN,0.0,right_only

In [82]:
merge_4 = merge_4.loc[(merge_4['_merge'] == 'both')| (merge_4['_merge'] == 'right_only')]

In [83]:
merge_4.drop('_merge', axis=1, inplace=True)

In [84]:
df = merge_4

## 2.5 : df final

In [85]:
# On supprimer toutes les colonnes que l'on estime de trop, qui ne devrait pas nous servir.

df = df.drop(['Alimentation pour touristes', 
         'Aliments pour animaux', 
         'Autres utilisations (non alimentaire)',
        'Disponibilité alimentaire en quantité (kg/personne/an)',
        'Disponibilité de matière grasse en quantité (g/personne/jour)', 
        'Disponibilité de protéines en quantité (g/personne/jour)',
        'Pertes', 'Résidus', 'Semences', 'Traitement', 'Variation de stock', 'Nourriture', 'Disponibilité alimentaire (Kcal/personne/jour)'], axis=1)

In [86]:
# Il faut que l'on étudie les NAN car le fichier ne peut pas en conserver:

df.info()
#la variable "exportations" est la seule comportant un taux de NAN important

<class 'pandas.core.frame.DataFrame'>
Int64Index: 169 entries, 1 to 208
Data columns (total 9 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   Zone                        169 non-null    object
 1   Taux droits douane          164 non-null    float64
 2   Indice stabilité politique  168 non-null    float64
 3   PIB (par hab, en US$)       169 non-null    float64
 4   Population                  169 non-null    float64
 5   Disponibilité intérieure    167 non-null    float64
 6   Exportations - Quantité     133 non-null    float64
 7   Importations - Quantité     167 non-null    float64
 8   Production                  165 non-null    float64
dtypes: float64(8), object(1)
memory usage: 13.2+ KB

In [87]:
# On l'affiche:
df.loc[df["Exportations - Quantité"].isnull()]

# On voit deux pays pour lesquels on a aucune info sur les autres variables de dispo alimentaires: Ouzbékistan et
    #République démocratique populaire lao, on considère les infos insuffisantes: on supprime ces deux pays.
# Pour les Maldives et Djibouti on a pas non plus l'information de production, on décide donc de supprimer également
# Pour les autres pays on connait toutes les autres variables, on remarque aussi que leur importation + leur production = leur
    # disponibilité interieure, on peut donc se dire que peut etre ces pays là n'exporte pas du tout,on choisi de remplacer 
    # par 0.

,Zone,Taux droits douane,Indice stabilité politique,"PIB (par hab, en US$)",Population,Disponibilité intérieure,Exportations - Quantité,Importations - Quantité,Production
1,Afghanistan,5.63,-2.73,361.601822,37171921.0,57.0,NaN,29.0,28.0
14,Burkina Faso,7.15,-1.55,801.626022,19751466.0,46.0,NaN,0.0,46.0
15,Bangladesh,10.99,-0.92,2531.879850,161376708.0,250.0,NaN,0.0,249.0
18,Bahamas,17.05,0.85,27432.406289,385637.0,26.0,NaN,24.0,6.0
29,République centrafricaine,16.44,-2.18,443.709755,4666368.0,11.0,NaN,4.0,7.0
40,Cabo Verde,12.18,0.88,3447.359942,543767.0,10.0,NaN,12.0,1.0
42,Cuba,8.83,0.60,12081.666563,11338134.0,342.0,NaN,312.0,29.0
46,Djibouti,17.56,-0.32,3323.229418,958923.0,3.0,NaN,3.0,NaN
60,Éthiopie,12.13,-1.74,929.326544,109224414.0,14.0,NaN,1.0,14.0
69,Guinée,12.23,-0.64,1531.901618,12414293.0,50.0,NaN,37.0,13.0
70,Gambie,17.82,0.25,769.327937,2280094.0,8.0,NaN,16.0,2.0
71,Guinée-Bissau,11.65,-0.60,766.381242,1874303.0,4.0,NaN,4.0,3.0
74,Grenade,10.79,1.03,9501.521485,111454.0,8.0,NaN,7.0,1.0
81,Haïti,6.76,-1.04,1589.339802,11123178.0,98.0,NaN,89.0,9.0
96,Cambodge,6.21,-0.24,1729.836463,16249792.0,38.0,NaN,10.0,28.0
101,République démocratique populaire lao,0.97,0.68,2011.736826,7061507.0,NaN,NaN,NaN,NaN
105,Sainte-Lucie,9.08,0.87,10965.501604,181889.0,11.0,NaN,10.0,1.0
116,Madagascar,7.20,-0.46,512.617870,26262313.0,82.0,NaN,0.0,81.0
117,Maldives,11.55,0.41,11281.356989,515696.0,12.0,NaN,12.0,NaN
121,Mali,9.24,-2.15,810.478504,19077749.0,52.0,NaN,1.0,48.0
126,Mongolie,5.30,0.79,4721.891050,3170216.0,9.0,NaN,10.0,0.0
127,Mozambique,4.14,-1.16,545.562196,29496004.0,116.0,NaN,24.0,92.0
128,Mauritanie,12.19,-0.75,2101.494786,4403313.0,22.0,NaN,24.0,5.0
130,Malawi,6.18,-0.24,580.325326,18143217.0,98.0,NaN,0.0,130.0
138,Népal,11.60,-0.20,1235.097708,28095714.0,58.0,NaN,0.0,58.0
159,Soudan,0.00,-1.76,1251.451910,41801533.0,69.0,NaN,2.0,67.0
168,Sao Tomé-et-Principe,9.97,0.48,2176.868108,211028.0,2.0,NaN,2.0,1.0
179,Tadjikistan,3.93,-0.52,1016.441034,9100835.0,40.0,NaN,38.0,2.0
180,Turkménistan,2.88,-0.29,11575.463414,5850901.0,27.0,NaN,9.0,20.0
181,Timor-Leste,2.53,0.18,1385.227422,1267974.0,5.0,NaN,11.0,1.0
187,République-Unie de Tanzanie,8.94,-0.41,1208.093872,56313438.0,108.0,NaN,2.0,105.0
193,Ouzbékistan,2.63,-0.44,2262.632486,32476244.0,NaN,NaN,NaN,NaN
194,Saint-Vincent-et-les Grenadines,8.97,1.03,9117.806767,110211.0,8.0,NaN,9.0,0.0
197,Vanuatu,12.66,0.90,3020.875676,292680.0,3.0,NaN,4.0,1.0
203,Zimbabwe,4.99,-1.08,2354.560390,14438802.0,76.0,NaN,6.0,69.0
206,Kiribati,NaN,1.08,1543.401478,115847.0,2.0,NaN,1.0,1.0

In [88]:
df.drop(df.loc[df['Zone'] == 'Ouzbékistan'].index, inplace=True)

In [89]:
df.drop(df.loc[df['Zone'] == 'République démocratique populaire lao'].index, inplace=True)

In [90]:
df.drop(df.loc[df['Zone'] == 'Maldives'].index, inplace=True)

In [91]:
df.drop(df.loc[df['Zone'] == 'Djibouti'].index, inplace=True)

In [92]:
df['Exportations - Quantité'] = df['Exportations - Quantité'].fillna(0)

In [93]:
# Pour les restes des NAN puisque leur nombre est très faible on décide de remplacer par la médiane.
df = df.fillna(df.median())

C:\Users\leuriot\AppData\Local\Temp\ipykernel_13256\3526437212.py:2: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  df = df.fillna(df.median())

In [94]:
# On regarde globalement toutes nos variables, pour voir notamment si on a l'air d'avoir beaucooup d'outliers:
# Pour ce faire on regarde par exemple le min et le max de chaque variable
# La variable population risque de créer des incohérences avec l'ACP qui est très sensible aux outliers, on décidera de mettre
    #cette variable de côté puisque de toute façon la seule raison pour laquelle on l'utiliserait serait pour connaitre le
    # nombre d'habitant si à la fin cela devait être un critère décisif dans le choix des pays.
    
df.describe()

,Taux droits douane,Indice stabilité politique,"PIB (par hab, en US$)",Population,Disponibilité intérieure,Exportations - Quantité,Importations - Quantité,Production
count,165.000000,165.000000,165.000000,1.650000e+02,165.000000,165.000000,165.000000,165.000000
mean,5.475303,-0.086606,16069.740275,4.474400e+07,703.424242,108.103030,91.030303,734.412121
std,4.523783,0.907895,21927.920034,1.573100e+08,2217.684244,467.238405,188.994497,2522.942004
min,0.000000,-2.730000,361.601822,5.244100e+04,2.000000,0.000000,0.000000,0.000000
25%,1.480000,-0.640000,2232.136193,2.951745e+06,33.000000,0.000000,3.000000,15.000000
50%,3.915000,-0.020000,6693.397867,9.965318e+06,108.000000,0.000000,16.000000,71.000000
75%,8.830000,0.650000,21173.553074,3.152803e+07,372.000000,16.000000,82.000000,392.000000
max,18.690000,1.490000,126217.102713,1.427648e+09,18266.000000,4223.000000,1069.000000,21914.000000

In [95]:
# On modifie l'index « numéro de ligne » du df par la colonne "Zone" du df:
df.set_index('Zone')

,Taux droits douane,Indice stabilité politique,"PIB (par hab, en US$)",Population,Disponibilité intérieure,Exportations - Quantité,Importations - Quantité,Production
Zone,,,,,,,,
Afghanistan,5.630,-2.73,361.601822,37171921.0,57.0,0.0,29.0,28.0
Angola,9.230,-0.52,3418.133219,30809787.0,319.0,0.0,277.0,42.0
Albanie,1.100,0.08,6408.389337,2882740.0,47.0,0.0,38.0,13.0
Émirats arabes unis,3.280,0.63,53374.216781,9630959.0,412.0,94.0,433.0,48.0
Argentine,6.880,0.04,13753.386382,44361150.0,1962.0,207.0,8.0,2161.0
...,...,...,...,...,...,...,...,...
Chine - RAS de Macao,3.915,1.15,33530.044263,631636.0,19.0,0.0,23.0,3.0
Iraq,3.915,-2.53,6355.560152,38433600.0,566.0,0.0,470.0,96.0
Kiribati,3.915,1.08,1543.401478,115847.0,2.0,0.0,1.0,1.0
République de Moldova,3.915,-0.42,4497.155765,4051944.0,66.0,0.0,16.0,54.0
République populaire démocratique de Corée,3.915,-0.40,654.510035,25549604.0,43.0,0.0,0.0,43.0

In [96]:
# Vérification qu'il n'y a plus de NAN:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 165 entries, 1 to 208
Data columns (total 9 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   Zone                        165 non-null    object
 1   Taux droits douane          165 non-null    float64
 2   Indice stabilité politique  165 non-null    float64
 3   PIB (par hab, en US$)       165 non-null    float64
 4   Population                  165 non-null    float64
 5   Disponibilité intérieure    165 non-null    float64
 6   Exportations - Quantité     165 non-null    float64
 7   Importations - Quantité     165 non-null    float64
 8   Production                  165 non-null    float64
dtypes: float64(8), object(1)
memory usage: 12.9+ KB

In [98]:
df.to_csv('P9_df_final.csv', index=False)